.profilePage {
  position:absolute;
  width: 100%;
  top:0px;
  left:0px;
  text-align: justify;
  background-color: rgb(36, 39, 41);
  color:white;
  padding-top: 120px
} 
.pPageHeader {
  display: flex;
  padding: 3%;
  padding-left: 4%;
  background-color: cadetblue;
  background-image: url('./images/Arsenal-1280x640.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}
.pPagePhoto {
  height: 200px;
  width: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right:20px ;
}
.pPagePhoto img {
  height: 100%;
}

.pPagePhoto + div {
  background-color: rgba(36, 39, 41, 0.808);
  padding: 10px;
  width: 100%;
}

.pPagePhoto + div > div {
  display: flex;
}
.pPagePhoto + div > div > div {
  margin: 1px;
  margin-right: 20px;
  width:100px;
}
.pPageName {
  font-size: 30px;
}

/*--- the second row of the fuckinggg page -----  */
.pPageHeader + div {
  width: 100%;
  margin-top: 40px;
  display: flex;
}
.pPageHeader + div > div {
  padding: 20px;
}
.pPageProfile{
  width: 60%;
}
.pPageProfile img{
  max-width: 100%;
}
.pPageProfile + div {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/*---- now the fucking third row --------------- */
.pPageHeader + div + div {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
.pPageDropDown {
}
.pPageDropDown + div {
  background-color: #1476C4;
  padding:5px;
  font-size: 13px;
  display: flex;
}
.pPageFieldName {
  width: 50%;
}
.pPageFieldName + span {
  width: 16.666%;
}
.pPageFieldName + span + span {
  width: 16.666%;
}
.pPageFieldName + span +span +span {
}

.pPageElementField { /* this is the css for the capacity ranking */
  background-color: white;
  padding:5px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(40,40,40);
}
.pPageElementChild1 {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 50%;
}
.pPageElementChild1 > div {
  margin-right: 10px;
}
.pPageElementChild1 img {
  width: 30px;
}
.pPageElementField > span{
  width: 16.66%;
  padding-left: 5px;
  box-sizing: border-box;
}

/* ---- the third and last fucking row, we are very closed buddy ! */
.pPagePublication {
  background-color: white;
  color: rgb(40, 40, 40);
  background-color: white;
  text-align: center;
}
.pPagePbTitle {
  padding: 30px;
  font-size: 25px;
}
.pPagePbTitle + div {
  padding: 20px;
}
.pPagePbTitle + div + div {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.pPagePbTitle + div + div > div {
  margin: 10px;
  max-width: 600px;
}