@font-face {
  font-family: 'designGraffitiCMS';
  src: url('~@/assets/fonts/design.graffiti.comicsansms.ttf');
}
.lPublication {
  width: 100%;
  background-color: #F5F5F6;
  overflow: hidden;
  color: rgb(40, 40, 40);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  font-family: designGraffitiCMS;
  word-break: break-all;
}
.lPType {
  font-size: 13px;
  background-color: #E32D38;
  color:white;
  padding: 3px;
}
.lPImg {
  overflow: hidden;
}
.lPImg img {
  width: 100%;
  transition: transform 1s;
}
.lPDate {
  padding-left: 20px;
  font-family: 'core_sans_regular';
  font-size: 14px;
  text-align: justify;
  margin-top: 10px;
}
.lPDate span {
  color: #E32D38;
  font-weight: bold;
}
.lPStars {
  padding-left: 20px;
  margin-top: 5px;
  display: flex;
}
.lPStars > div {
  margin-left:4px;
}
.lPTitle {
  width: 70%;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
  font-weight: bold;
  text-align: justify;
  margin-top: 8px;
  margin-bottom: 8px;
  line-height: 19px;
}
.lPText {
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  font-size: 15px;
  width: 80%;
  transition: max-height 0.5s;
  overflow: hidden;
}
.lPMore {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lPMore div {
  width: 20px;
  height: 20px;
  background-image: url('./images/more.svg');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  border-radius: 3em;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.lPOption  {
  display: flex;
  font-size: 13px;
  padding: 10px;
  padding-bottom: 20px;
  margin-top: 10px
}
.lPOption > div {
  display: flex;
  align-items: center;
  width: 33.333%;
  margin: 2px;
  padding-left: 5px;
  overflow: hidden;
}
.lPOption > div img{
  opacity:0.7
}

.lPPoint {
  justify-content: left;
}
.lPPoint +div {
  justify-content: center;
}
.lPPointt {
  border:solid 1px silver;
  padding: 4px;
}
.lPPoint +div + div {
  justify-content: flex-end
}
.lPPoint div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lPPoint img {
  width: 20px;
  margin-right: 6px;
}
.lPPlus {
  justify-content: right;
}
.lPProfile img {
  width: 40px;
}




/* hover effects ---------------------- */
.lPOption > div:hover img {
  opacity:1;
}   
.lPPoint img:hover {
  border-radius: 0.1em;
  box-shadow: 0px 0px 5px silver;
}.lPPoint span:hover {
  color:#E32D38;
}

.lPPoint:hover, .lPPlus:hover, .lPMore:hover, .lPText:hover, .lPDate:hover {
  cursor: pointer;
}

.lPImg img:hover {
  width: 100%;
  border: solid 1px yellow;
  cursor: pointer;
  transform: scale(1.3,1.3);
}


/*----- responsive managment zone... ------------------ */
@media screen and (max-width: 700px) {
  .lPType {
    font-size: 12px;
    padding: 2px;
  }
  .lPDate {
    font-size: 13px;
  }
  .lPTitle {
    font-size: 16px;
    width: 85%;
  }
  .lPText {
    font-size: 14px;
    width: 95%;
  }
  .lPOption  {
    font-size: 12px;
  }
}