.lReaction {
  position: fixed;
  top:50%;
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: white;
  padding-bottom: 20px;
}
.lREmoji {
  width: 40px;
  height: 40px;
  margin: 10px;
}
.lREmoji .lREPoint {
  font-weight: bold;
}

/* hover effects */

.lReaction:hover {
  box-shadow: 0px 0px 3px gray;
}
.lREmoji:hover {
  border-radius: 4em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}